{% extends "index.html" %}
{% load static %}
{% block content %}

    <div class="container py-5">
        <form method="POST" enctype="multipart/form-data" class="w-50 m-auto p-3 text-white border border-1">
            {% csrf_token %}
            <div>
                <label>İsim:</label>
                {{form.isim}}
            </div>
            <div>
                <label class="mt-5">Resim:</label>
                <input type="file" class="form-control" name="resim">
            </div>
            <button type="submit" class="btn btn-danger mt-3">Kaydet</button>
        </form>
    </div>

{% endblock content %}